* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
  /*margin-top: 10px;*/

}

button:hover {
  cursor: pointer;
}

form {
  margin-bottom: 25px;
  width: 50%;

}

.container {
  margin: 0 auto;
  padding: 2px 16px;

}

.product-list {
  list-style: none;
  padding-left: 0;
}

.product-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
}

.card img {
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.strikethrough-price {
   text-decoration: line-through;
}

.hidden {
  display: none;
}


header {
  height: 10ex;
  padding: 5px, 10px;

}


header button {
  right:2ex;
  top: 2ex;
  float: right;
  margin: 50px;

}



fieldset {
  margin-bottom: 2ex; 
}

ul {
  list-style-type: none;
  padding-right: 40px;
}

.card-title {
  color: black;
  text-align: center;
}

/*.add-to-cart {
  background-color: white;
  color: blue;
}*/
h1{
  text-align: center;
  color: white;
  text-shadow: 5px 5px 8px #000000;
  font-size: 50px;

}
#sign-in{
  color: blue;
  background-color: transparent;
}


h2 {
  text-align: center;
  color: white;
  /*text-shadow: 5px 5px 8px #000000;*/
  font-size: 30px;

}
body { 
  background-color: #2bb673;

}
.container {
  margin: auto;
    width: 50%;
    padding: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 100px;
    height: 100px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.js-account {
  text-align: center;
}
/*MODAL*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#helpButton{
    margin: auto;
    display: block;
    margin-top: 5px;
  }

/*start */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.logo {
  display: block;
  width: auto;
  height: 35px;
  margin: 0 auto 30px;
}

.signup-form {
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  margin: 0 auto;
}

.signup-form legend {
  width: 100%;
  line-height: 38px;
  font-size: 35px;
  font-weight: 300;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 45px;
}

/* The button ultimately gets a different background
color below, but it largely overlaps with email/password
input styling, so we include it in the same style block, then
override parts of it in its own declaration. */
input[type="text"],
input[type="password"],
button[type="submit"] {
  display: block;
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 10px auto 20px;
  transition: opacity 0.4s;
}

button[type="submit"] {
  height: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: #15CD72;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;

  
}

/* Tricky! A Firefox bug makes our focus outlines disappear,
  so we have to restore them ourselves. This focus outline is an
  a11y MUST for keyboard users! Note that we are NOT expecting you 
  to know this. You can read more about the issue & the fix at: 
  
  https://thinkful-ed.github.io/firefox-focus-bug-demo/
  */
input[type="text"]:focus,
input[type="password"]:focus,
button[type="submit"]:focus {
 /* Restore desirable focus behavior 
 in non-webkit browsers like Firefox */
 outline: auto 2px #87ceeb;
 /* Preseve default focus behavior in webkit browsers */
 outline: auto 5px -webkit-focus-ring-color;
 box-shadow: 0;
}


button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #0CB863;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

.signup-form p {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0;
  color: #696969;
}

.signup-form a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}

.signup-form a:hover {
  border-color: #999;
  color: #777;
}

/* footer */
/*.footer {
  text-align: center;
  color: white;
  margin: 20px auto;
  font-weight: 600;
  border: 0;
  padding: 0;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #E7F1F9; 
}*/

/*end*/
legend {
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

/*nav button */


#logOutButton {
  height: 50px;
  /*margin-top: 5px;*/
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: right;
  border: 1px solid black;
  float: right;
  background-color: white;
  color: #2bb673; 
  margin-right: 50px;
}

#sign-in {
  text-align: center;
  margin: auto;
  display: block;
  cursor: pointer;
}



/*.add-to-cart {
  background-color: white;
  color:#2bb673;
}*/
/*
#logOutButton {
  position: fixed;
  
}*/

/*test zone*/

/*.orange {
   border: 1px solid black;
    padding: 25px 50px 75px 100px;
    background-color: white;
}
*/

/*.orange {
  text-align: center;
   background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}*/
.form-product { 
  /*border:5px solid black;*/
    width:100%; 
    margin:0 auto;
    background-color: white;

 }

 #add-to-list  {
  background-color: #3385ff;
  color:white ;

 }

 #add-to-list:hover {
  background-color: black;
  color: white;
 }

/*everything that needs to be mobile friendly will go inside*/
@media only screen and (max-width: 640px) {
  form {
    width: 100%;
  }

.container {
  width: 150%;
}


}

 