header {
  background-color: #eebb44;
  margin-bottom: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 0.5em;
}

.hearts {
  padding-right: 20px; font-size: 20px
}
/*using flex box order lets us control the order in aligning*/
.search-wishlist {
  order: 2;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

.card {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-content p {
  margin: 0.5em 0;
}
.hr {
  width: 40%;
   background-color: #f0f0f0;
}
.hr1 {
  width: 50%;
  background-color: #f0f0f0;
}
hr {
  background-color: #f0f0f0;
}
a {
  color: white;
}
.add-to-cart {
  color: white;
  background-color: #28a745;
  cursor: pointer;
}

.add-to-cart:disabled {
  background-color: white;
  color: red;
}


.add-to-cart:hover {
  background-color: black;
  color: white;
 }

 .add-to-cart:hover:disabled {
  background-color: white;
  color: red;
 }

.topnav {
    background-color: #2bb673;
    overflow: hidden;
}


.topnav h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

.topnav .login {
  color: white;
  float: right;
}


.container-fluid {
  width: auto;
  height: auto;
}

.copyright {
  text-align: center;
}

.announcement-bar  {
  text-align: center;
  color: white;
  font-size: 25px;
  background-color: #2bb673;
  /*not working need the font to be bold and bold*/
  font-weight: 900;

}

/*.promo-image {

}*/

.weekly-giveaway {
  text-align: center;
}

.home-logo {
  text-align: left;
}

.add-to-cart .see-details {
  text-align: center;

}

.card-text {
  text-align: left;
}

.strikethrough-price {
  text-decoration: line-through;
}
/*NOT WORKING*/
.our-price {
  font: 50px;
}



/*back to top button*/
.back-to-top {

    display: block;
    width: 100%;
    border: none;
    background-color: #2bb673;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.back-to-top:hover {
    background-color: white; 
    color: #2bb673; 
    /*border: 2px solid #4CAF50;*/
}



.connect {
  text-align: left;
  padding: 10px;
}

.logo {
  order:1;
  text-align: left;
  color: #2bb673;
}


.log-in {
  text-align: right;
}
nav {
  background-color: white;
  color: #2bb673;
}

/*.navbar a{
  
}*/

/*nav bar for categoires and links*/

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 20px;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
  color :#2bb673;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
     background-color: white;
  color :#2bb673;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/

.mySlides {
  display: none;
}

.announcement-bar {
    padding: 5px;
}

footer { 
     position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 5px;*/
  text-align: center;
  background-color: #2bb673;
  color: white;
  }
/*footer {
    
    color: white;
    font-size: 18px;
    left: 0;
    bottom: 0;
   width: 100%;
   margin: auto;
}*/

/*footer {
    text-align: center;
    background-color: #2bb673;
    color: white;
    font-size: 18px;
    left: 0;
    bottom: 0;
   width: 100%;
   margin: auto;
}*/


 .product-images{
    width: 100%;
    height: 250px;
}

.slideChanger {
  border: 5px solid black;
  padding: 20px;
    width: 100%;
}

.left{
  order: 3;
}


.navbar {
    background-color: white;
    color: #2bb673;
    /* -webkit-box-shadow: 10px 10px 5px 0px rgba(248,248,248,1); */
    -moz-box-shadow: 10px 10px 5px 0px rgba(248,248,248,1);
    /* box-shadow: 10px 10px 5px 0px rgba(248,248,248,1); */
    ): ;
}


/*everything that needs to be mobile friendly will go inside*/
@media only screen and (max-width: 640px) {
  form {
    width: 100%;
  }

.container {
  width: 100%;
}

.row {
  width: 100%
}


}

@media only screen and (min-width: 640px) {
 .col-4 {
  width: 33.33%;
 }

 }

