* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

form {
  margin-bottom: 25px;
  width: 50%;

}

.container {
  margin: 0 auto;
  padding: 2px 16px;

}

.product-list {
  list-style: none;
  padding-left: 0;
}

.product-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card img {
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.strikethrough-price {
   text-decoration: line-through;
}

.hidden {
  display: none;
}

header h1, header button {
  position: absolute;
  display: inline-block;
}

header {
  height: 10ex;
  padding: 5px, 10px;

}

header h1 {

}

header button {
  right:2ex;
  top: 2ex;

}

#sign-in p {
  text-decoration: underline;
  color:blue;
}

fieldset {
  margin-bottom: 2ex; 
}

ul {
  list-style-type: none;
}

.card-title {
  color: red;
  text-align: center;
}

/*everything that needs to be mobile friendly will go inside*/
@media only screen and (max-width: 640px) {
  form {
    width: 100%;
  }

.container {
  width: 150%;
}


}

 